.footer {
  padding: 67px 200px 60px 200px;
  margin: 0;
  max-width: 880px;
}

@media screen and (max-width: 880px) {
  .footer {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
    max-width: 282px;
  }
}